@using Syncfusion.Blazor.Buttons
<tr>
    
    <td>
        <button class="btn btn-danger"@onclick="@(()=>OnDeleteClicked.InvokeAsync(Student))">
            <span class = "oi oi-delete"></span>
           </button>
    </td>
        
</tr>


@code {
    [Parameter]
    public Student Student { get; set; }

    [Parameter]
    public EventCallback<Student> OnDeleteClicked { get; set; }
}
