@page "/Navigation"
@inject NavigationManager navigationManager



<h3>Route params</h3>


@code {
    private void OnButtonClicked(int id, string name,string lastname,string city)
    {
        Console.WriteLine("Clicked.." + navigationManager.Uri);
        navigationManager.NavigateTo("/students/id/string/lastname/city");
    }
}
