@page "/parameters/{Name}/{LastName}"

<h3>Parameters</h3>

<p> 
    Name : @Name
</p>
<p> 
    LastName: @Lastname
</p>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Lastname { get; set; }

}
