@page "/students/{id}/{Name}/{LastName}/{City}"


<h3>Students Detail</h3>


<p>
    Id : @id
</p>
<p>
    FirstName : @Name
</p>
<p>
    LastName : @LastName
</p>
<p>
    City : @City
</p>




@code {
    [Parameter]
    public string id { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string LastName { get; set; }

    [Parameter]
    public string City { get; set; }

    
  

    
}
